%div{ class: "container" }
  %div{ class: "row" }
    - if @filelist
      %h2 Files
      %ul
        - @filelist.each do |filename|
          %li
            %a{href: "./#{@basename + "/" + filename}"}=filename
    - if @dirlist && @dirlist.length > 0
      %h2 Dirs
      %ul
        - @dirlist.each do |dirname|
          %li
            %a{href: "./#{@basename + "/" + dirname}"}=dirname

    - if @content
      %div{ class: 'markdown' }
        = @content
