<!DOCTYPE html>
<html>
<head>
  <title>White Base</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/whitebase.css" rel="stylesheet">
</head>
<body>
<div class='markdown'>
<%= @content %>
</div>
</body>
<html>
