%div{ class: "container" }
  %div{ class: "row" }
    %div{ class: "col-md-2" }
      %h2 menu
    %div{ class: "col-md-10" }
      %div{ class: "calendar table-responsive" }

%script{ src: "js/calendar.js" }
:javascript
  $(function() {
    $(".calendar").wb_calendar();
  });
