!!!
%html
  %head
    %title White Base
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %link{ href: "/css/bootstrap.min.css", rel: "stylesheet" }
    %link{ href: "/css/whitebase.css", rel: "stylesheet" }

    %script{ src: "https://code.jquery.com/jquery.js" }
    %script{ src: "/js/bootstrap.min.js" }
    %script{ src: "/js/strftime.js" }
    %script{ src: "https://kit.fontawesome.com/a506dc5b58.js", crossorigin: "anonymous" }

  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      %a.navbar-brand{href:"/"} WhiteBase
      %button.navbar-toggler{ type: "button", "data-toggle": "collapse", "data-target": "#navbarContent", "aria-controls": "navbarContent", "aria-expanded": false, "aria-label": "Togle navigation" }
        %san.navbar-toggler-icon

      .collapse.navbar-collapse#navbarContent
        %ul.navbar-nav.mr-auto
          %li.nav-item.active
            %a.nav-link{ href: "/" }
              Home
              %span.sr-only (current)
          %li.nav-item
            %a.nav-link{ href: "/docs" } Docs
          %li.nav-item
            %a.nav-link{ href: "/docs/today" } Today

    = yield
