!!!
%html
  %head
    %title White Base
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %link{ href: "/css/bootstrap.min.css", rel: "stylesheet" }

    %script{ src: "/js/bootstrap.min.js" }

  %body
    .jumbotron
      .container
        .row
          %h2 Whitebase Login

        .row
          %form{action: 'login', method: 'POST'}
            .form-group
              %label{for: 'loginname'} Login Name
              %input.form-control#loginname{type: 'text', name: 'loginname'}
            .form-group
              %label{for: 'password'} Password
              %input.form-control#password{type: 'password', name: 'password'}
            %button.btn.btn-primary{type: 'submit'} ログイン
